<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="about-section">
    <h1>Who we are</h1>
    <p>NESS GROCERY MART is one stop for your all needs. </p>
    <p>Ness Grocery Mart is a low-price online supermarket that allows you to order products across categories like
      grocery, vegetables, beauty & wellness, household care, baby care and gets them delivered to your doorstep.</p>
  </div>

  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/assets/images1/team/gunjan.jpeg" alt="Jane">
        <div class="container">
          <h2>Gunjan Gupta</h2>
          <p class="title">Founder</p>
          <!-- <p>Highly enthuastic and fun loving person, having a excellent knowledge.</p> -->
          <p>Gunjan.Gupta@ness.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/assets/images1/team/khatija.jpeg" alt="Mike">
        <div class="container">
          <h2>Khatija Ahmed</h2>
          <p class="title">Founder</p>
          <!-- <p>Highly enthuastic and fun loving person, having a excellent knowledge.</p> -->
          <p>Khatija.Ahmed@ness.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img src="/assets/images1/team/pooja3.jpg" alt="John">
        <div class="container">
          <h2>Pooja Konde</h2>
          <p class="title">Founder</p>
          <!-- <p>Highly enthuastic and fun loving person, having a excellent knowledge.</p> -->
          <p>Pooja.Konde@ness.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-section">
    <div class="row">
      <h1>What make us uniqe</h1>
      <br>
      <div class="col-lg-4">
        <p>Quality</p>
        <p>we are giving the best of quality product to our customer.</p>
      </div>
      <div class="col-lg-4">
        <p>Hygine</p>
        <p>we are maintaning the 100% hygine for our each product.</p>
      </div>
      <div class="col-lg-4">
        <p>Security</p>
        <p>we are assuring the full security of every customer.</p>
      </div>
    </div>
  </div>
</body>

</html>